<?xml version="1.0"?>
<!--
/**
 * TM_PromotionalBlock extension
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category  TM
 * @package   TM_PromotionalBlock
 * @copyright Copyright (c) 2019
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TM_PromotionalBlock::promotionalblock" title="Custom Blocks" module="TM_PromotionalBlock" sortOrder="30" resource="TM_PromotionalBlock::promotionalblock"/>
        
        <add id="TM_PromotionalBlock::promotionalblock_promotionalblock" title="Promotional Blocks" module="TM_PromotionalBlock" sortOrder="10" action="tm_promotionalblock/promotionalblock" resource="TM_PromotionalBlock::promotionalblock_promotionalblock" parent="TM_PromotionalBlock::promotionalblock"/>
    </menu>
</config>
